.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.app form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.submitBtn {
  margin: 0 100px;
  padding: 5px;
  border-radius: 10px;
  border: none;
}
